
form {
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    border: 1px solid;
}

p{
    margin: 0 auto;
    width: 400px;
    padding: 20px;
}

.diary-title{
    font-size: 2.0rem;
}

.diary-content{
    width: 600px; 
    height: 230px;
}